<!DOCTYPE html>
<html lang="en">
<head>
    <title>Я.Монетки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Я.Монетки</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Пополнение</a></li>
            <li><a href="/top">ТОП-10</a></li>
            <li class="active"><a href="/wallet">Кошелек</a></li>
            <li><a href="/send">Переводы</a></li>
        </ul>
    </div>
</nav>
<div style="margin: 3%">
    <div class="form-group">
        <form method="POST" action="/wallet">
            <label for="id-wal">Кошелек</label>
            <p style="font-size: 18px; text-align: justify;">Введите ID владельца кошелька: </p>
            <textarea name="wallet-id" class="form-control" rows="1" id="id-wal" placeholder="ID"></textarea>
            <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 5px">Проверить баланс</button>
            {% if res %}
            <h2 class="display-3">{{res}}</h2>
            {% endif %}
        </form>
    </div>

</div>


</body>
</html>

